<h1>New user</h1>

<form id="new-user" name="user">
  <div class="field">
    <label for="email"> email:</label>
    <input type="text" name="email" id="email" value="<%= email %>" >
  </div>

  <div class="field">
    <label for="message_zone"> message_zone:</label>
    <input type="text" name="message_zone" id="message_zone" value="<%= message_zone %>" >
  </div>

  <div class="field">
    <label for="connected"> connected:</label>
    <input type="text" name="connected" id="connected" value="<%= connected %>" >
  </div>

  <div class="field">
    <label for="latitude"> latitude:</label>
    <input type="text" name="latitude" id="latitude" value="<%= latitude %>" >
  </div>

  <div class="field">
    <label for="longitude"> longitude:</label>
    <input type="text" name="longitude" id="longitude" value="<%= longitude %>" >
  </div>

  <div class="field">
    <label for="pseudo"> pseudo:</label>
    <input type="text" name="pseudo" id="pseudo" value="<%= pseudo %>" >
  </div>

  <div class="field">
    <label for="last_name"> last_name:</label>
    <input type="text" name="last_name" id="last_name" value="<%= last_name %>" >
  </div>

  <div class="field">
    <label for="first_name"> first_name:</label>
    <input type="text" name="first_name" id="first_name" value="<%= first_name %>" >
  </div>

  <div class="field">
    <label for="gender"> gender:</label>
    <input type="text" name="gender" id="gender" value="<%= gender %>" >
  </div>

  <div class="field">
    <label for="birth_date"> birth_date:</label>
    <input type="text" name="birth_date" id="birth_date" value="<%= birth_date %>" >
  </div>

  <div class="field">
    <label for="provider"> provider:</label>
    <input type="text" name="provider" id="provider" value="<%= provider %>" >
  </div>

  <div class="field">
    <label for="uid"> uid:</label>
    <input type="text" name="uid" id="uid" value="<%= uid %>" >
  </div>

  <div class="field">
    <label for="authentication_token"> authentication_token:</label>
    <input type="text" name="authentication_token" id="authentication_token" value="<%= authentication_token %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create User" />
  </div>

</form>

<a href="#/index">Back</a>