<td><%= email %></td>
<td><%= message_zone %></td>
<td><%= connected %></td>
<td><%= latitude %></td>
<td><%= longitude %></td>
<td><%= pseudo %></td>
<td><%= last_name %></td>
<td><%= first_name %></td>
<td><%= gender %></td>
<td><%= birth_date %></td>
<td><%= provider %></td>
<td><%= uid %></td>
<td><%= authentication_token %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>